<!--Offers Page Content-->
<body>
    <main class="container">
        <div class="jumbotron" style="background-color: white;">
            <table>
                <tr>
                    <td><a href="\sale60"><img src="Assets/images/offers1.jpg" width="100%"></a></td>
                    <td><a href="\sale50"> <img src="Assets/images/offers2.jpg" width="100%"></a></td>
                    <td><a href="\sale40"><img src="Assets/images/offers3.jpg" width="100%"></a></td>
                </tr>
                <tr> 
                    <td><a href="\sale60"><img src="Assets/images/offers5.jpg" width="100%"></a></td>
                    <td><a href="\sale50"><img src="Assets/images/offers4.jpg"  width="100%"></a></td>
                    <td><a href="\sale40"><img src="Assets/images/offers6.jpg" width="100%"></a></td>
                </tr>
            </table>
        </div>
    </main>
</body>