<!--About Me Page Content-->
<body  background="Assets/images/background.jpg">
    <main class="container" style="height: 530px;">
        <div class="jumbotron" style="height: 530px;">
            <h1 class="display-6">Projects</h1>
            <p>
                <table>
                <tr>
                    <td style="width: 100px; height: 100px;"><img src="Assets/images/project1.jpg" width="100px" height="100px"></td>
                    <td><h4 style="padding-inline-start: 20px;">Telecom Project: Bell Canada</h4>
                        <p style="padding-left: 20px; font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        I was a part of Automation team for Bell Canada where we were automating 3rd party windows application and website.<br>
                        My responsibiliy was to lead the team and condjct POCs, framework enhancement and development. We were working in Agile methodologly, 
                        I was responsible for attending and extimating in daily stand up calls.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; height: 100px; padding-top: 10px; padding-bottom: 10px;"><img src="Assets/images/project2.jpg" width="100px" height="100px"></td>
                    <td><h4 style="padding-inline-start: 20px;">Online Banking: Bank of Montreal</h4>
                        <p style="padding-left: 20px; font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        In this project, I was an automation tester working as an individual contributor.<br>
                        My responisibity was to under the requirements from the client, design test cases and automate them using two different testing tools. 
                        My role also covered developing framework and conducting interviews for enlarging the team.</p>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; height: 100px;"><img src="Assets/images/project3.jpg" width="100px" height="100px"></td>
                    <td><h4 style="padding-inline-start: 20px;">Wealth Management: Morgan Stanley</h4>
                        <p style="padding-left: 20px; font-size: 16px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        In this account, I was automating wealth management application.<br>
                        My responsibility was to automate Mainframe, Windows, URL based applications as well as Oracle database.
                        Tools like UFT, Test Complete and Protractor were used to run the automated applications.
                         </p>
                    </td>
                </tr>
                </table>
            </p>
        </div>
    </main>
</body>